{% extends "template.html.twig" %}
{% block title %}Campaigns{% endblock %}
{% macro campaignlist(groups) %}
    <ul class="groups">
        {% for group in groups %}
            <li>
                <div>
                    {{ group.title }}
                    {% if me.is_admin %}
                        (<a href="/campaigns/new?group={{ group.groupID }}">New Site</a>,
                         <a href="/campaigns/message_group/{{ group.groupID }}">Send Message</a>)
                    {% endif %}
                </div>
                <ul class="campaigns">
                    {% for campaign in group.campaigns %}
                        <li>
                            <a href="/campaigns/view/{{ campaign.id }}">
                                <span class="title">{{ campaign.title }}</span>
                                <div class="time">
                                    {% if campaign.starts_at %}
                                        <span class="starts">{{ campaign.starts_at|date('M j Y') }}</span>
                                    {% endif %}
                                    {% if campaign.ends_at %}
                                        <span class="ends">{{ campaign.ends_at|date('M j Y') }}</span>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% import _self as index %}
{% block content %}
    {% if current_groups|length > 0 %}
        <h1>My Running Campaigns</h1>
        {{ index.campaignlist(current_groups) }}
    {% endif %}

    {% if me.is_admin %}
        {% if upcoming_groups|length > 0 %}
            <h1>Upcoming Campaigns</h1>
            {{ index.campaignlist(upcoming_groups) }}
        {% endif %}

        {% if archived_groups|length > 0 %}
            <h1>Archived Campaigns</h1>
            {{ index.campaignlist(archived_groups) }}
        {% endif %}
    {% endif %}

    {% if me.is_admin %}
        <a href="/campaigns/new_group" class="new">Create New Group</a>
    {% endif %}
{% endblock %}