{% extends "template.html.twig" %}
{% block title %}Campaigns{% endblock %}
{% block content %}
    <h1>Campaign: {{ campaign.title }}</h1>
    <h2>Leaderboard</h2>
    <ol>
        {% for user in users %}
            <li>
                {{ user.first_name }} - {{ user.get_clicks(campaign) }}
            </li>
        {% endfor %}
    </ol>

    <h2>My Links</h2>
    <ul>
        {% for link in my_links %}
            <li><a href="/l/{{ link.id }}">Link</a>
                - {{ link.source_info }} - {{ link.clicks }}</li>
        {% endfor %}
    </ul>

    <h2>Create a Link</h2>
    <p>You can create one or more links to attribute your clicks. Use tags to figure out which postings are performing best.</p>
    <form method="post" action="/campaigns/view/link/{{ campaign.id }}">
        <input type="text" required name="source_info" placeholder="Source tag (e.g. fb, twitter, email)" />
        <input type="submit" value="Create Link" />
    </form>

    {% if autorefresh %}
        <script type="text/javascript">
            window.setInterval(function(){location.reload();}, 3000);
        </script>
    {% endif %}
{% endblock %}