{% extends "template.html.twig" %}
{% block title %}Campaigns{% endblock %}
{% block content %}
    <section class="mine">
        <h2>Campaign: {{ campaign.title }}</h2>
        {% if not me.is_member(campaign) %}
            <section class="join">
                <form method="post" action="/campaigns/view/join/{{ campaign.id }}">
                    <input type="submit" value="Join this Campaign!" />
                </form>
            </section>
        {% endif %}

        {% if me.is_member(campaign) %}
            <section class="mylinks" id="mylinks">
                <h2>My Links</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Clicks</th>
                            <th>Tag</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in my_links %}
                            <tr id="link-id-{{ link.id }}">
                                <td class="clicks">{{ link.clicks }}</td>
                                <td class="tag">{{ link.source_info }}</td>
                                <td class="link"><input type="text" readonly value="http://{{ domain }}/l/{{ link.id }}" /></td>
                            </tr>
                        {% endfor %}
                        <tr class="new">
                            <td>(new)</td>
                            <td colspan="2">
                                <form method="post" action="/campaigns/view/link/{{ campaign.id }}">
                                    <input type="text" required name="source_info" placeholder="tag" />
                                    <input type="submit" value="Create" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        {% endif %}
    </section>

    <section class="campaign">
        <section class="leaderboard">
            <h2>Leaderboard</h2>
            <ol id="leaders">
                {% for user in users %}
                    <li>
                        {{ user.first_name }} - {{ user.get_clicks(campaign) }}
                    </li>
                {% endfor %}
            </ol>
        </section>
        <section class="toggle_sounds">
            <a href="#"></a>
        </section>
    </section>

{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        $('body').ready(function(){

            var sounds_enabled_val = {% if sound %}true{% else %}null{% endif %};
            var set_sounds = function(new_val)
            {
                sounds_enabled_val = new_val;
                localStorage['sounds_enabled'] = new_val.toString();
            }


            var sounds_enabled = function()
            {
                if (sounds_enabled_val !== null) {
                    return sounds_enabled_val;
                }

                if (typeof(localStorage) === 'undefined') {
                    return false;
                }

                return localStorage['sounds_enabled'] === true.toString();
            }

            $('.toggle_sounds a')
                .text((sounds_enabled() ? 'Disable' : 'Enable')+' sounds')
                .click(function(event){
                    event.stopPropagation();
                    set_sounds(!sounds_enabled());
                    $(this).text((sounds_enabled() ? 'Disable' : 'Enable')+' sounds');
                });

            var arraysEqual = function(a, b)
            {
                if (a === b) return true;
                if (a == null || b == null) return false;
                if (a.length != b.length) return false;

                for (var i = 0; i < a.length; ++i) {
                    if (a[i] !== b[i]) return false;
                }
                return true;
            }

            var playSound = function(name)
            {
                if (sounds_enabled()) {
                    var sound_obj = $('#sound-'+name);
                    if ($('#sound-'+name).length < 1) {
                        sound_obj = $('<audio id="sound-'+name+'" src="/assets/mp3/'+name+'.mp3" />');
                        $("body").append(sound_obj);
                    }
                    sound_obj.get(0).play();
                }
            }

            var previous_leaders_ids = null;
            var previous_clicks_count = null;

            var setLeaders = function(new_leaders)
            {
                var elem = $("#leaders").empty();
                new_leaders.sort(function(a,b){
                    return b.clicks - a.clicks;
                });

                for(var i in new_leaders) {
                    var new_li = $('<li></li>');
                    new_li.text(new_leaders[i].first_name + ' - ' + new_leaders[i].clicks);
                    elem.append(new_li);
                }

                // Check if the leaderboard was updated
                new_leaders_ids = new_leaders.map(function(user){ return user.id });
                if (previous_leaders_ids !== null
                    && !arraysEqual(new_leaders_ids, previous_leaders_ids)
                    && new_leaders_ids.length === previous_leaders_ids.length) {
                    playSound("overtake"+Math.round((Math.random()*5)+1));
                }

                if (previous_leaders_ids !== null
                    && new_leaders_ids.length !== previous_leaders_ids.length) {
                    playSound("joined");
                }

                previous_leaders_ids = new_leaders_ids;

                // Check if there have been clicks
                new_clicks_count = new_leaders.reduce(function(a,b){return a + b.clicks}, 0);
                if (new_clicks_count > previous_clicks_count && previous_clicks_count != null) {
                    playSound("click");
                }
                previous_clicks_count = new_clicks_count;

            }

            var setMine = function(new_links)
            {
                for (var i in new_links) {
                    $('#link-id-'+new_links[i].id+' .clicks').text(new_links[i].clicks);
                }
            }

            setInterval(function(){
                $.get('/campaigns/view/liveleaders/{{ campaign.id }}.json', function(data) {
                    setLeaders(data.leaderboard);
                    setMine(data.links);
                });
            }, 2500);
        });
    </script>
{% endblock %}