{% extends "template.html.twig" %}
{% block title %}Campaigns{% endblock %}
{% block content %}
    <h1>Campaign: {{ campaign.title }}</h1>
    <h2>Leaderboard</h2>
    <ol>
        {% for user in users %}
            <li>
                {{ user.first_name }} - {{ user.get_clicks(campaign) }}
            </li>
        {% endfor %}
    </ol>

    <h2>My Links</h2>
    <ul>
        {% for link in my_links %}
            <li><a href="/l/{{ link.id }}">Link</a>
                - {{ link.source_info }}</li>
        {% endfor %}
    </ul>

    <h2>Create a Link</h2>
    <form method="post" action="/campaigns/view/link/{{ campaign.id }}">
        <input type="text" name="source_info" placeholder="Source Info (e.g. HSHackers, SRND, etc)" />
        <input type="submit" value="Create Link" />
    </form>
    {% if autorefresh %}
        <script type="text/javascript">
            window.setTimeout(function(){location.reload();}, 5000);
        </script>
    {% endif %}
{% endblock %}